//<FORM ()>====================================================================================================
.form {
	&__row {
	}
	&__column {
	}
	&__line {
	}
	&__input {
	}
	&__button {
	}
	&__error {
	}
}

//</FORM>====================================================================================================

//<BUTTONS (a.btn+tab)>====================================================================================================
.button {
	display: inline-flex;
	padding: 0px 0px;
	@media (any-hover: hover) {
		&:hover {
		}
	}
	&._fw {
		width: 100%;
	}
}
//</BUTTONS>====================================================================================================

//<SELECT (sel+tab)>====================================================================================================

.select {
	width: 100%;
	position: relative;
	z-index: 2;
	background: white;
	
	&.open {
		.select__dropdown {
			max-height: 220px;
			opacity: 1;
			overflow: auto;
		}
		
		.select__input {
			
			&:before {
				transform: rotate(45deg) translateY(-50%);
			}
			&:after{
				transform: rotate(-45deg) translateY(-50%);
				right: 20px;
			}
		}
		
		.select__backdrop {
			display: block;
		}
	}
	
	&__input {
		border: 1px solid #626262;
		position: relative;
		box-sizing: border-box;
		border-radius: 25px;
		cursor: pointer;
		font-family: Prompt;
		font-style: normal;
		font-weight: normal;
		font-size: 12px;
		line-height: 18px;
		padding: 11px 20px;
		z-index: 2;
		background: white;
		
		&._placeholder{
			color: #626262;
		}
		
		
		@media (max-width:$md4+px){
			padding: 0 5px;
			span{
				font-size: 14px;
			}
		}
		
		&:before {
			content: '';
			position: absolute;
			width: 10px;
			height: 3px;
			background-color: #7bc3e5;
			transform: rotate(-45deg) translateY(-50%);
			top: 50%;
			right: 15px;
			transition: all 0.3s ease 0s;
			
			@media (max-width:$md4+px){
				right: 10px;
			}
		}
		&:after{
			content: '';
			position: absolute;
			width: 10px;
			height: 3px;
			background-color: #7bc3e5;
			transform: rotate(45deg) translateY(-50%);
			top: 50%;
			right: 23px;
			transition: all 0.3s ease 0s;
			
			@media (max-width:$md4+px){
				right: 17px;
			}
		}
		
		
	}
	
	&__dropdown {
		position: absolute;
		display: block;
		top: 50%;
		left: 0;
		right: 0;
		max-height: 0px;
		overflow-y: auto;
		box-shadow: 0px 8px 28px -6px rgba(24, 39, 75, 0.12), 0px 18px 88px -4px rgba(24, 39, 75, 0.14);
		border-radius: 0px;
		z-index: 1;
		background: white;
		opacity: 0;
		transition: all 0.15s ease 0s;
		padding-top: 25px;
	}
	
	&__list {
		padding: 0;
		margin: 0;
		list-style: none;
	}
	
	&__backdrop {
		position: fixed;
		top: 0;
		right: 0;
		left: 0;
		bottom: 0;
		background: transparent;
		display: none;
	}
	
	&__item {
		width: 100%;
		font-family: Prompt;
		font-style: normal;
		font-weight: normal;
		font-size: 12px;
		line-height: 18px;
		color: #626262;
		padding: 6px 20px;
		cursor: pointer;
		
		&.selected {
			background-color: bisque;
		}
		
		@media (any-hover: hover) {
			&:hover {
				color: #E52713;
			}
		}
	}
}
//</SELECT>====================================================================================================

//<INPUT (inp+tab)>====================================================================================================
input[type="text"],
input[type="email"],
input[type="tel"],
textarea {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	&:focus {
		outline: none;
	}
}
.input {
	border: 1px solid #626262;
	box-sizing: border-box;
	border-radius: 25px;
	width: 100%;
	display: block;
	padding: 11px 20px;
	font-family: Prompt;
	font-style: normal;
	font-weight: normal;
	font-size: 12px;
	line-height: 18px;
	&._focus {
	}
	&._error {
	}
}
textarea.input {
	resize: none;
	padding: 15px 17px;
}

.inputWithPlaceholder {
	position: relative;
	
	span {
		position: absolute;
		font-family: Prompt;
		font-style: normal;
		font-weight: normal;
		font-size: 12px;
		line-height: 18px;
		color: #626262;
		top: 11px;
		left: 20px;
		transition: all 0.3s ease 0s;
		
		
		&._active{
			top: -15px;
			font-size: 10px;
			line-height: 15px;
		}
		
	}
}
//</INPUT>====================================================================================================

//<CHECK (chk+tab)>====================================================================================================
.checkbox {
	position: relative;
	// .checkbox__input
	&__input {
		position: absolute;
		width: 0;
		height: 0;
		opacity: 0;
		visibility: hidden;
		&:checked + .checkbox__text:before {
			background: #fff url("../img/icons/check.svg") center no-repeat;
		}
	}
	// .checkbox__text
	&__text {
		display: inline-flex;
		align-items: center;
		position: relative;
		font-size: 16px;
		color: #ffffff;
		letter-spacing: -0.3px;
		line-height: calc(20 / 16);
		cursor: pointer;
		&:before {
			content: "";
			align-self: flex-start;
			margin: 0px 14px 0px 0px;
			flex: 0 0 20px;
			left: 0;
			top: 0;
			width: 20px;
			height: 18px;
			background: #fff;
			border: 1px solid #a7a9ac;
		}
	}
	a {
		color: #fff;
		text-decoration: underline;
		@media (min-width: 992px) {
			&:hover {
				text-decoration: none;
			}
		}
	}
	&._error {
		.checkbox__text {
			&:before {
				border: 1px solid #ee1212;
			}
		}
	}
}
//</CHECK>====================================================================================================

//<OPTIONS (opt+tab)>====================================================================================================
.options {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	// .options__item
	&__item {
		position: relative;
		cursor: pointer;
		&._error {
		}
	}
	// .options__input
	&__input {
		position: absolute;
		width: 0;
		height: 0;
		opacity: 0;
		left: 0;
		top: 0;
		visibility: hidden;
		&:checked + .options__text:before {
		}
		&:checked + .options__text:after {
			transform: scale(1);
		}
	}
	// .options__text
	&__text {
		display: inline-flex;
		align-items: center;
		position: relative;
		font-size: 16px;
		color: #ffffff;
		letter-spacing: -0.3px;
		line-height: calc(20 / 16);
		&:before {
			content: "";
			align-self: flex-start;
			margin: 0px 14px 0px 0px;
			flex: 0 0 20px;
			left: 0;
			top: 0;
			border-radius: 50%;
			width: 20px;
			height: 18px;
			background: #fff;
			border: 1px solid #a7a9ac;
		}
		&:after {
			content: "";
			transition: all 0.3s ease 0s;
			transform: scale(0);
			width: 10px;
			height: 10px;
			border-radius: 50%;
			background-color: #77243a;
			position: absolute;
			left: 5px;
			top: 4px;
		}
	}
}
//</OPTIONS>====================================================================================================

//<RATING>====================================================================================================
.rating {
	display: flex;
	align-items: flex-end;
	font-size: 40px;
	line-height: 0.75;
	transition: opacity 0.3s ease 0s;
}
.rating.rating_sending {
	opacity: 0.2;
}
.rating.rating_set .rating__active,
.rating.rating_set .rating__item {
	cursor: pointer;
}

.rating__body {
	position: relative;
}
.rating__body::before {
	content: "★★★★★";
	display: block;
}
.rating__active {
	position: absolute;
	width: 0%;
	height: 100%;
	top: 0;
	left: 0;
	overflow: hidden;
}
.rating__active::before {
	content: "★★★★★";
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	color: #ffd300;
}

.rating__items {
	display: flex;
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
}
.rating__item {
	flex: 0 0 20%;
	height: 100%;
	opacity: 0;
}
.rating__value {
	font-size: 50%;
	line-height: 1;
	padding: 0px 0px 0px 10px;
}
//</RATING>====================================================================================================

//<QUANTITY>====================================================================================================
.quantity {
	width: 88px;
	height: 40px;
	display: flex;
	border: 1px solid rgba(166, 166, 166, 0.45);
	// .quantity__button
	&__button {
		flex: 0 0 30px;
		position: relative;
		cursor: pointer;
		&::before,
		&::after {
			content: "";
			position: absolute;
			top: 50%;
			left: 50%;
			transition: all 0.3s ease 0s;
			margin: 0px 0px 0px -4.5px;
			background-color: #a6a6a6;
			width: 9px;
			height: 1px;
		}
		@media (min-width: $md2+px) {
			&:hover {
				&::before,
				&::after {
					background-color: rgba(0, 0, 0, 0.5);
				}
			}
		}
		// .quantity__button_plus
		&_plus {
			&::before {
				transform: rotate(-90deg);
			}
		}
		// .quantity__button_minus
		&_minus {
		}
	}
	// .quantity__input
	&__input {
		flex: 1 1 auto;
		input {
			height: 100%;
			color: #a6a6a6;
			font-size: 12px;
			width: 100%;
			text-align: center;
		}
	}
}
//</QUANTITY>====================================================================================================

//<RANGE>====================================================================================================

//</RANGE>====================================================================================================
