.history {
  position: relative;
  overflow: hidden;
  
  padding-top: 200px;
  
  @media (max-width: $md1+px) {
    padding-top: 180px;
  }
  @media (max-width: $md2+px) {
    padding-top: 160px;
  }
  @media (max-width: $md3+px) {
    padding-top: 120px;
  }
  @media (max-width: $md4+px) {
    padding-top: 80px;
  }
  
  &__content {
  }
  
  &__body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
  }
  
  &__texts {
  }
  
  &__back {
  }
}

.circle {
  margin-top: 20px;
  width: 460px;
  height: 460px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 1s ease 0s;
  
  
  border-radius: 50%;
  position: relative;
  
  &:before {
    content: '';
    background: url('../img/history/back.svg') 0 0 / contain no-repeat;
    
    position: absolute;
    width: 460px;
    height: 460px;
  }
  
  
  &__body {
    transform: scale(0.7);
    position: relative;
    margin-bottom: 60px;
  }
  
  &__item {
    width: 26px;
    height: 26px;
    background: #626262;
    border-radius: 50%;
    transition: all 0.5s ease 0s;
    position: absolute;
  
    &._1 {
      bottom: -2%;
      left: 48%;
      
      &._active{
        bottom: -2%;
        left: 48%;
      }
      
    }
    
    &._2 {
      bottom: 43px;
      left: 16%;
    }
    
    &._3 {
      bottom: 178px;
      left: -1.9%;
    }
    
    &._4 {
      top: 100px;
      left: 4.5%;
      &._active{
        top: 104px;
        left: 4.5%;
      }
      
    }
    
    &._5 {
      top: 5px;
      left: 30.5%;
      
      &._active{
        top: 12px;
        left: 28.5%;
      }
      
    }
    
    &._6 {
      top: 3px;
      right: 30.5%;
      
      &._active{
        top: 4px;
        right: 31.5%;
      }
      
    }
    
    &._7 {
      top: 96px;
      right: 5.5%;
      
      &._active{
        top: 101px;
        right: 5.5%;
      }
      
    }
    
    &._8 {
      bottom: 181px;
      right: -0.9%;
    }
    
    &._9 {
      bottom: 50px;
      right: 13%;
      background-color: #000000;
      
      div {
        color: #000000;
      }
      
      &._active{
        bottom: 46px;
        right: 15%;
        div {
          bottom: 47px;
          right: -214%;
        }
      }
      
    }
    
    
    div {
      position: absolute;
      font-size: 43px;
      font-weight: 800;
      transition: all 0.5s ease 0s;
      color: #626262;
      
      &._huete {
        a {
          color: #000000;
        }
      }
      
      &._9 {
        top: calc(100% + 17px);
        right: -133%;
      }
      
      &._1 {
        right: calc(100% + 20px);
        top: -10px;
      }
      
      &._2 {
        right: calc(100% + 20px);
        top: -7px;
      }
      
      &._3 {
        right: calc(100% + 20px);
        top: -10px;
      }
      
      &._4 {
        bottom: calc(100% + 22px);
        left: -133%;
      }
      
      &._5 {
        bottom: calc(100% + 21px);
        left: -133%;
      }
      
      &._6 {
        left: calc(100% + 20px);
        top: -10px;
      }
      
      &._7 {
        left: calc(100% + 20px);
        top: -7px;
      }
      
      &._8 {
        left: calc(100% + 20px);
        top: -10px;
      }
    }
  
    &._active {
      background-color: #E52713;
    
      div {
        color: #E52713;
      }
    }
  
    cursor: pointer;
  
    @media (any-hover: hover){
      &:hover{
        background-color: #E52713;
        div {
          color: #E52713;
        }
      }
    }
  }
  
  &__items {
  
  }
  
  &__btn {
  }
  
  &__images {
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    top: 50%;
    border-radius: 50%;
    overflow: hidden;
    width: 364px;
    height: 364px;
  }
  
  &__img {
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
    visibility: hidden;
    object-fit: cover;
    width: 364px;
    height: 364px;
    transition: all 1s ease 0s;
    
    
    &._active {
      visibility: visible;
      opacity: 1;
    }
    
  }
}

.texts {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 50px;
  margin-top: -40px;
  
  &__li {
    opacity: 0;
    visibility: hidden;
    display: none;
    transition: all 1s ease 0s;
    
    
    &._active {
      opacity: 1;
      visibility: visible;
      display: flex;
      flex-direction: column;
      
    }
  }
  
  &__item {
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 120%;
    color: #000000;
    max-width: 460px;
    margin: 0 auto;
    margin-bottom: 20px;
  }
  
  &__item-span {
    font-weight: normal;
    font-size: 14px;
    margin: 0 auto;
  }
}

.btns-circle {
  position: absolute;
  top: 513px;
  left: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: translateX(-48%);
  
  
  &__btn-prev {
    cursor: pointer;
    width: 25px;
    height: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 150px;
  }
  
  &__btn-next {
    transform: rotate(-180deg);
    cursor: pointer;
    width: 25px;
    height: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}